body{
    padding: 0;  /*Básicamente, define el espacio entre el borde de un elemento y su contenido interno.*/
    font-family: sans-serif; 
}
header{
    background-color: #f0d2f6;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;/*negrta*/
    margin-bottom: 20px;
    width: 100%;
}
legend{
    border:solid black 2px;
}
#person, #complem{
    background-image: url(fondo.jpg);
    width: 40%;
    height: 100px;
}
#person{
    margin-left: 30px;
}
#complem{
    margin-right: 30px;
    height: fit-content;
}
#cont{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
input,select{
    margin-bottom:7px;
    margin-right: 10px;
    margin-top:10px;
    margin-left: 7px;
}
#apellidos{
    width:260px;
}
#nombre{
    width: 200px;
}
#edad{
    width:50px;
}
#firstrow{
    /* el elemento se convierte en un contenedor flexible y sus hijos directos se organizan en una fila o columna, 
    dependiendo de la dirección establecida por la propiedad flex-direction. Los hijos flexibles pueden utilizar propiedades 
    adicionales como justify-content y align-items para controlar la alineación horizontal y vertical respectivamente*/
    display: flex;
    justify-content: space-between;
}
#secondrow{
    display: flex;
}
.col{
    /* el elemento se convierte en un contenedor flexible y sus hijos directos se organizan en una fila o columna, 
    dependiendo de la dirección establecida por la propiedad flex-direction. Los hijos flexibles pueden utilizar propiedades 
    adicionales como justify-content y align-items para controlar la alineación horizontal y vertical respectivamente*/
    display: flex;
    flex-direction: column;
    justify-content: left;
}
#nacido{
    width:250px;
}
#domicilio{
    width: 250px;
}
#botones{
    text-align: center;
}
#uno{
    border:solid black;
    text-align: center;
    height: fit-content;
    width: 90%;
    margin:auto;
}
p{
    margin:5px;
}
#dos{
    text-transform: uppercase;
    text-align: center;
    margin-top:10px;
    letter-spacing: 0.4em;
    font-size: larger;
}