body{
    font-family: sans-serif; 
    padding: 10px 40px; 
}
h1{
    text-align: center;
    color: rgb(194, 194, 194);
    letter-spacing: 10px;/**/
    text-transform: uppercase;
}
.datosPersonales,
.preguntas{
    border: 3px;
    border-style: dashed;
    border-color:gray;
}
legend{
    text-align: left;
    margin: 0px 10px 5px 0px; 
    padding: 2px 10px; 
    font-weight: 700;
    top: 10px;
    background-color: #8d8d8d; 
    color: white
}
#edad{
    height: 0.9em;
    width: 40px;
}
.datosPersonales>ul>li {
    display: inline;
}
li{
    padding: 3px 10px;
    margin:5px;
    font-weight: 700;
    background-color: #EEEEEE;
}ul{  
    margin: 0px 10px 0px 0px;
}.preguntas>ul>li{
    list-style: none;
}