body.dark {
	background-color: #333 !important;
	color: #f5f5f5 !important;
}
.container-fluid.dark{
   
    background-color:rgb(1, 2, 2) !important;
}
.btnbtn-outline-success.container-fluid.dark{
    background-color:rgb(9, 14, 9)!important;
}