
form{
	width:400px;
	padding:32px;
	border:1px solid #000;
	margin:32px auto;
	background-color:#b2ccff;
}
input[type="text"],select,textarea{
	display:block;
	padding:4px 8px;
	width:100%;
	margin:8px 0;
}
textarea{
	height:96px;
	}


label{
	font-weight:bold;
	display:block;
	margin:8px 0;
}


.rgpd{width:95%;float:right;}
#rgpd{height:30px;}
